.display-inline-flex {
    display: inline-flex;
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.noshadow {
    box-shadow: none;
}

.boxshadow,
.boxshadow-two {
    box-shadow: .3rem .3rem rgb(150, 3, 26);
}

.trans-ease,
.trans-ease-two {
    transition: .3s ease-in-out all;
}

.italic-font {
    font-style: italic;
}