.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sida-ett > p:last-child {
    background: red;
}

h1 {
    background: paleturquoise;
    padding: 1rem;
}
.allting {
    width: 28rem;
    margin: 1rem auto;
    padding: 1rem;
    background-color: palevioletred;
}
