* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    
    font-family: 'Karla', Helvetica, sans-serif;
    font-size: 1.15rem;
    color: rgb(25, 25, 25);
    line-height: 2rem;
    background-color: rgb(42, 43, 42);

    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-area {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: fit-content;
    height: fit-content;

    padding: 2rem;
    
    background-color: rgb(146, 141, 132);
}

.txt-area-big {
    width: 28rem;
    height: 20rem;
    justify-content: space-between;
}

    h1 {
        margin: 2rem;
        width: fit-content;
    }

    .welcome-btn-con {
        width: 4rem;
        height: 1.9rem;
        margin: 0 auto;

        background-color: rgb(255, 67, 101);
        transform: skew(-20deg);

        cursor: pointer;
    }

    .welcome-btn {
        text-transform: uppercase;
        font-size: .7rem;
        font-weight: 700;
        color: rgb(183, 173, 153);
        letter-spacing: .06rem;

        
        width: fit-content;
        position: absolute;
        margin: .6rem .75rem;
        
        background: none;
        border: none;
        transform: skew(20deg);

        cursor: pointer;
    }

    .decision-con {
        margin-top: 3rem;
        width: 28rem;
        justify-content: space-around;
    }


form {
    height: fit-content;
    justify-content: space-between;
}

label {
    margin: .5rem;
    font-size: .9rem;
}

input[type=submit] {
    font-weight: 700;
    font-size: 1rem;
    border: none;
    background: rgb(255, 67, 101);
    border-radius: 50% 50% 50% 50%;
    color: rgb(183, 173, 153);

    height: 2rem;
    width: 2rem;
    position: relative;
    
    display: block;
    cursor: pointer;
}

p {
    display: flex;
    flex-direction: column;
}